body {
    color: 000;
}
/* a {
    color: #e90b0b;
    text-decoration: none;
    border: 1px solid red;
    너비는 텍스트의 너비로 인라인 요소는 크기 값을 가질 수 없음 
    width: 300px;
    height: 200px;
    인라인 요소는 margin을 주면 상하좌우가 적용되지 않고 상하만 적용 
    margin: 50px;
    가로 배치, 크기 조절 불가, 상하 margin X, 좌우 margin O  
} */

/* div {
    border: 1pc solid red;
    height: 100px;
    margin: 50px;
} */

img {
    border: 1px solid red;
    height: 100px;
    width: 100px;
    margin: 50px;
}

a {
    color: #000;
    text-decoration: none;
    border: 1px solid red;
    /* display: block; */
    width: 300px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.parent {
    border: 5px solid red;
    width: 600px;
    /* height: 200px; */
    overflow: hidden;
}
.child {
    background-color: hotpink;
    width: 200px;
    height: 200px;
    float: right;
    /* display: inline-block; */
}

section {
    border: 5px solid black;
    width: 600px;
    overflow: hidden;
}

section article {
    background-color: gold;
    width: 200px;
    height: 100px;
    float: left;
    border: 1px solid red;
    box-sizing: border-box;
}